{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About GeoNode" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class=WordSection1>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
"Calibri Light",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><b><span style='font-size:14.0pt;line-height:107%;
font-family:"Calibri Light",sans-serif'>Impressum</span></b></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
"Calibri Light",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><b><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>Woldan
goes Digital!</span></b></p>

<p class=MsoNormal><a
href="https://www.oeaw.ac.at/stipendien-foerderungen/foerderprogramme/digitales-kulturelles-erbe/"><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>Digital
Humanities-Projekt</span></a><span style='font-size:12.0pt;line-height:107%;
font-family:"Calibri Light",sans-serif'>, an der BAS:IS der Österreichischen
Akademie der Wissenschaften.</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><b><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>Projektleitung
und inhaltliche Umsetzung: </span></b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>Gerhard
Holzer und Andreas Krexhammer</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><b><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>Technische
Umsetzung:</span></b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>Andreas
Trawöger (</span><a href="http://hexaplant.com/"><span style='font-size:12.0pt;
line-height:107%;font-family:"Calibri Light",sans-serif'>hexaplant.com</span></a><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>)
mit Unterstützung des Akademie-Rechenzentrums (Christian Balluch)</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><b><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>Texte:</span></b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>Petra
Svatek, Edurne Kugeler u.a.</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><b><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>Finanzierung:</span></b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>Nationalstiftung
für Forschung Technologie und Entwicklung</span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
"Calibri Light",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
font-family:"Calibri Light",sans-serif'>Urheberrechtlicher Hinweis</span></b></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
"Calibri Light",sans-serif;color:#222222;background:white'>Diese Seite und ihre
Inhalte sind, sofern nicht anders gekennzeichnet, unter der creative commons
Lizenz</span><a href="http://creativecommons.org/licenses/by/4.0/"><span
style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif;
background:white'>&nbsp;CC-BY 4.0</span></a><span style='font-size:12.0pt;
line-height:107%;font-family:"Calibri Light",sans-serif;color:#222222;
background:white'>&nbsp;International lizensiert.</span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
"Calibri Light",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
"Calibri Light",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal>

<table cellpadding=0 cellspacing=0 align=left>
 <tr>
  <td width=0 height=5></td>
  <td width=170></td>
  <td width=19></td>
  <td width=96></td>
  <td width=21></td>
  <td width=313></td>
 </tr>
 <tr>
  <td height=7></td>
  <td colspan=2></td>
  <td rowspan=5 align=left valign=top><a
  href="http://sammlung.woldan.oeaw.ac.at/"><img border=0 width=96 height=92
  src="/static/geonode/Impressum-Dateien/image001.png" title=""></a></td>
 </tr>
 <tr>
  <td height=22></td>
  <td rowspan=3 align=left valign=top><a
  href="https://www.oeaw.ac.at/oesterreichische-akademie-der-wissenschaften/"><img
  border=0 width=170 height=74 src="/static/geonode/Impressum-Dateien/image002.jpg" title=""></a></td>
 </tr>
 <tr>
  <td height=34></td>
  <td></td>
  <td></td>
  <td align=left valign=top><a href="http://www.stiftung-fte.at/"><img
  border=0 width=313 height=34 src="/static/geonode/Impressum-Dateien/image003.png" title=""></a></td>
 </tr>
 <tr>
  <td height=18></td>
 </tr>
 <tr>
  <td height=11></td>
 </tr>
</table>

<span style='font-size:12.0pt;line-height:107%;font-family:"Calibri Light",sans-serif'>&nbsp;</span></p>

</div>
{% endblock %}
