{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} Willkomen bei der Sammlung Woldan {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
  {% block hero %}
  <div class="jumbotron">
  	<div class="container">
  		<h1>{% trans "Sammlung Woldan" %}                                    <img src=/static/geonode/img/SW-LOGO.jpg height=150 /> </h1>
  		<p></p>
  	</div>
  </div>

  {% endblock %}

  {% block mainbody %}
  <div class="big-search">
  	<div class="container">
  		<h1>Suche Karten</h1>
  		<div class="search">
  			<form id="search" action="{% url "search" %}" >
  				<span class="fa fa-search fa-2x"></span>
  				{% if HAYSTACK_SEARCH %}
  				<input id="search_input" type="text" placeholder="Search" class="form-control" name="q">
  				{% else %}
  				<input id="search_input" type="text" placeholder="Search" class="form-control" name="title__icontains">
  				{% endif %}
  			</form>
  		</div>
  		<p><a class="btn btn-default btn-lg" href="/search/">Erweiterte Suche</a></p>
  	</div>
  </div>

  {% block datasets %}
  <section id="datasets">
  	<div class="container">
  		<div class="row">
  			<div class="container text-center">
  				<h1>Entdecke Karten</h1>

  				<div class="col-xs-4 col-sm-2">
  					<a href="/search/?keywords__slug__in=15-jahrhundert" data-toggle="tooltip" data-placement="auto"
  						title="15. Jahrhundert" >
  						<div class="category">
                <img src=/static/geonode/img/wd_15jhd.jpg height=100 />
  							<h4>15. Jahrhundert</h4>
  						</div>
  					</a>
  				</div>

          <div class="col-xs-4 col-sm-2">
  					<a href="/search/?keywords__slug__in=16-jahrhundert" data-toggle="tooltip" data-placement="auto"
  						title="16. Jahrhundert" >
  						<div class="category">
  							<img src=/static/geonode/img/wd_16jhd.jpg height=100 />
  							<h4>16. Jahrhundert</h4>
  						</div>
  					</a>
  				</div>


          <div class="col-xs-4 col-sm-2">
  					<a href="/search/?keywords__slug__in=17-jahrhundert" data-toggle="tooltip" data-placement="auto"
  						title="17. Jahrhundert" >
  						<div class="category">
  							<img src=/static/geonode/img/wd_17jhd.jpg height=100 />
  							<h4>17. Jahrhundert</h4>
  						</div>
  					</a>
  				</div>

          <div class="col-xs-4 col-sm-2">
  					<a href="/search/?keywords__slug__in=18-jahrhundert" data-toggle="tooltip" data-placement="auto"
  						title="18. Jahrhundert" >
  						<div class="category">
  							<img src=/static/geonode/img/wd_18jhd.jpg height=100 />
  							<h4>18. Jahrhundert</h4>
  						</div>
  					</a>
  				</div>

          <div class="col-xs-4 col-sm-2">
  					<a href="/search/?keywords__slug__in=19-jahrhundert" data-toggle="tooltip" data-placement="auto"
  						title="19. Jahrhundert" >
  						<div class="category">
  							<img src=/static/geonode/img/wd_19jhd.jpg height=100 />
  							<h4>19. Jahrhundert</h4>
  						</div>
  					</a>
  				</div>

          <div class="col-xs-4 col-sm-2">
  					<a href="/search/?keywords__slug__in=20-jahrhundert" data-toggle="tooltip" data-placement="auto"
  						title="20. Jahrhundert" >
  						<div class="category">
  							<img src=/static/geonode/img/wd_20jhd.jpg height=100 />
  							<h4>20. Jahrhundert</h4>
  						</div>
  					</a>
  				</div>

          <div class="col-xs-4 col-sm-2">
  					<a href="/search/?&category__identifier__in=weltkarte" data-toggle="tooltip" data-placement="auto"
  						title="Weltkarten" >
  						<div class="category">
  							<img src=/static/geonode/img/wd_weltkarte.png height=100 />
  							<h4>Weltkarten</h4>
  						</div>
  					</a>
  				</div>

          <div class="col-xs-4 col-sm-2">
            <a href="/search/?&category__identifier__in=kontinentalkarte" data-toggle="tooltip" data-placement="auto"
              title="Kontinentalkarten" >
              <div class="category">
                <img src=/static/geonode/img/wd_kontinentalkarte.png height=100 />
                <h4>Kontinentalkarten</h4>
              </div>
            </a>
          </div>

          <div class="col-xs-4 col-sm-2">
            <a href="/search/?&category__identifier__in=regionalkarte" data-toggle="tooltip" data-placement="auto"
              title="Regionalkarten" >
              <div class="category">
                <img src=/static/geonode/img/wd_regionalkarte.png height=100 />
                <h4>Regionalkarten</h4>
              </div>
            </a>
          </div>

          <div class="col-xs-4 col-sm-2">
            <a href="/search/?&category__identifier__in=umgebungskarte" data-toggle="tooltip" data-placement="auto"
              title="Umgebungskarten" >
              <div class="category">
                <img src=/static/geonode/img/wd_umgebungskarte.png height=100 />
                <h4>Umgebungskarten</h4>
              </div>
            </a>
          </div>

          <div class="col-xs-4 col-sm-2">
            <a href="/search/?&category__identifier__in=stadtpläne" data-toggle="tooltip" data-placement="auto"
              title="Stadtpläne" >
              <div class="category">
                <img src=/static/geonode/img/wd_stadtplan.png height=100 />
                <h4>Stadtpläne</h4>
              </div>
            </a>
          </div>

          <div class="col-xs-4 col-sm-2">
            <a href="/search/?&category__identifier__in=globus" data-toggle="tooltip" data-placement="auto"
              title="Globen" >
              <div class="category">
                <img src=/static/geonode/img/wd_globen.png height=100 />
                <h4>Globen</h4>
              </div>
            </a>
          </div>

    		</div>
  		</div>
  	</div>
  </section>
  {% endblock %}

  
  {% endblock %}

{% endblock %}

{% block extra_script %}
{{ block.super }}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
</script>
<script>
	$('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock extra_script %}
